endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_hostname "Aura Development"
sets sv_projectName "Aura Development | Test Server"
sets tags "default, deployer"
sets locale "root-AQ"

sv_enforceGameBuild 3095 #mp2023_02 - The Chop Shop
sv_licenseKey "cfxk_1dUNLwA8cGQaaU660QF2J_3n3Wlz"
sv_maxclients 48
set steam_webApiKey "none"

# CFX Resources (DNC)
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap

# Aura Development
ensure aura-trains

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:4536360 group.admin #Rhys_Rhys
